<div class="row answer-voting">
  <div class="col-md-1" id="<%=answer.id%>">
    <button class="vote-up glyphicon glyphicon-triangle-top col-md-12"></button>
    <span class="points col-md-12"><%= answer.points %></span>
    <button class="vote-down glyphicon glyphicon-triangle-bottom col-md-12"></button>
  </div>
</div>
